$background-color: black;
$text-color: white;
$alt-color: #4285f4;

.custom-button {
    background-color: $background-color;
    color: $text-color;

    min-width: 165px;
    width: auto;

    height: 50px;
    line-height: 50px;

    padding: 0 35px 0 35px;

    letter-spacing: 0.5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;

    &:hover{
        background-color:  $text-color;
        color: $background-color;
    }

    &.google-sign-in{
        background-color: $alt-color;

        &:hover{
            background-color: $text-color;
            color: $alt-color;
            border-color: $alt-color;
        }
    }
}