.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;

    .image {
        width: 100%;
        height: 95%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 5px;
        border: 1px solid lightgrey;
        border-radius: 10%;
    }

    .custom-button{
        width: 80%;
        opacity: 0;
        position: absolute;
        top:255px;
    }

    &:hover{
        .image{
            opacity: 0.2;
        }
        
        .custom-button{
            opacity: 0.75;
        }
    }

    .collection-footer {
        height: 5%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .name {
            width: 90%;
            margin-bottom: 15px;
        }

        .amount {
            width: 10%;
        }
    }

}